rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    function logado() {
      return request.auth != null;
    }

    function admin() {
      return logado()
        && get(
          /databases/$(database)/documents/profiles/$(request.auth.uid)
        ).data.tipo == "admin";
    }

    match /profiles/{uid} {

      allow read:
        if logado()
        && (
          request.auth.uid == uid
          || admin()
        );

      allow create:
        if logado()
        && request.auth.uid == uid
        && request.resource.data.tipo != "admin";

      allow update:
        if admin()
        || (
          logado()
          && request.auth.uid == uid
        );

      allow delete:
        if admin();
    }

    match /wallets/{uid} {

      allow read:
        if logado()
        && (
          request.auth.uid == uid
          || admin()
        );

      allow create:
        if logado()
        && request.auth.uid == uid
        && request.resource.data.saldo == 0;

      allow update:
        if admin()
        || (
          logado()
          && request.auth.uid == uid
          && request.resource.data.saldo ==
             resource.data.saldo - 8
        );

      allow delete:
        if admin();
    }

    match /orders/{id} {

      allow create:
        if logado()
        && request.resource.data.lojistaId ==
           request.auth.uid;

      allow read:
        if logado()
        && (
          admin()
          || resource.data.lojistaId == request.auth.uid
          || resource.data.motoboyId == request.auth.uid
        );

      allow update:
        if admin()
        || (
          logado()
          && (
            resource.data.lojistaId == request.auth.uid
            || resource.data.motoboyId == request.auth.uid
          )
        );

      allow delete:
        if admin();
    }

    match /transactions/{id} {

      allow create:
        if admin()
        || (
          logado()
          && request.resource.data.uid ==
             request.auth.uid
          && request.resource.data.tipo ==
             "recarga_50"
          && request.resource.data.valor == 50
          && request.resource.data.status ==
             "pendente"
        )
        || (
          logado()
          && request.resource.data.uid ==
             request.auth.uid
          && request.resource.data.tipo ==
             "taxa_pedido"
          && request.resource.data.valor == -8
        );

      allow read:
        if logado()
        && (
          admin()
          || resource.data.uid == request.auth.uid
        );

      allow update:
        if admin();

      allow delete:
        if admin();
    }
  }
}
